body {
    font-family: Roboto;
    margin: 0;
}

.autocomplete {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    z-index: 999;
}

.recent-searched {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 999;
    margin: 0;
    padding: 0;
}